body {
  line-height: 1.42857;
  padding-top: 60px; }
  body.noScroll {
    overflow: hidden; }
  @media screen and (min-width: 992px) {
    body {
      padding-top: 80px; } }

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; }

.wrapper {
  position: relative; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

body.menuOpen .mobileHeader, body.menuOpen .mobile-bottom, body.menuOpen .wrapper {
  left: 300px; }

@media screen and (min-width: 992px) {
  .mobileHeader, .mobile-bottom {
    display: none; } }

.mobileHeader {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-right: 15px;
  background-color: #00C8C8;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out; }
  .mobileHeader.black {
    background-color: #000000; }
  .mobileHeader.white {
    background-color: #FFFFFF; }

.mobile-logo {
  position: relative;
  height: 100%;
  margin: 0;
  display: inline-block; }
  .mobile-logo a {
    height: 100%;
    display: block;
    position: relative; }

.hamburger {
  cursor: pointer;
  width: 45px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }
  .hamburger:before, .hamburger:after {
    content: ''; }
  .hamburger:before, .hamburger:after, .hamburger .line {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #FFFFFF; }
  .hamburger:before {
    top: 0;
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  .hamburger:after {
    top: 100%;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%); }
  .hamburger .line {
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }

.mobileMenu {
  margin: 0;
  padding-left: 0;
  background-color: #FFFFFF; }
  .mobileMenu li {
    list-style: none;
    border-bottom: 1px solid #CCC; }
  .mobileMenu a, .mobileMenu .mobileMenu-Back {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .mobileMenu .mobileMenu-Back {
    color: #FFFFFF;
    cursor: pointer;
    background-color: #00C8C8; }
  .mobileMenu a {
    display: inline-block;
    text-decoration: none;
    color: #333333; }

.mobileMenuBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  -webkit-transition: z-index 0s .3s ease-out,opacity .3s 0s ease-out;
  -o-transition: z-index 0s .3s ease-out,opacity .3s 0s ease-out;
  transition: z-index 0s .3s ease-out,opacity .3s 0s ease-out; }
  .mobileMenuBlock.active {
    opacity: 1;
    z-index: 11;
    -webkit-transition: z-index 0s 0s ease-out,opacity .3s 0s ease-out;
    -o-transition: z-index 0s 0s ease-out,opacity .3s 0s ease-out;
    transition: z-index 0s 0s ease-out,opacity .3s 0s ease-out; }
    .mobileMenuBlock.active .mobileMenuBlock__Bg {
      left: 300px; }
    .mobileMenuBlock.active .mobileMenuBoxArea {
      left: 0;
      -webkit-transition: left .3s 0s ease-out;
      -o-transition: left .3s 0s ease-out;
      transition: left .3s 0s ease-out; }

.mobileMenuBlock__Bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out; }

.mobileMenuBoxArea {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -300px;
  width: 100%;
  height: 100vh;
  max-width: 300px;
  background-color: #0083CB;
  overflow: hidden;
  -webkit-box-shadow: 3px 0px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out; }

.mobileMenuBox {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 300px;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out; }
  .mobileMenuBox.show {
    left: 0; }
  .mobileMenuBox.hide {
    left: -300px; }

.mobile-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #00C8C8;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out; }
  .mobile-bottom ul {
    margin: 0;
    padding-left: 0;
    font-size: 0; }
    .mobile-bottom ul li, .mobile-bottom ul a {
      font-size: 16px;
      display: inline-block; }
    .mobile-bottom ul li {
      list-style: none;
      display: inline-block;
      width: 33.33%;
      border-right: 1px solid #FFFFFF; }
    .mobile-bottom ul a {
      color: #FFFFFF;
      text-decoration: none;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center; }

.itemImg {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden; }
  .itemImg img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
    max-height: none; }
  .itemImg.noneImg {
    background-color: #00C8C8;
    background-image: url("../images/noImage.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
    .itemImg.noneImg img {
      display: none; }

.scrollAnimate {
  top: 0;
  left: 0;
  position: relative;
  visibility: hidden;
  -webkit-animation-name: none;
  animation-name: none; }
  .scrollAnimate.animated, .scrollAnimate.cusAnimated {
    visibility: visible; }
  .scrollAnimate[data-animate^=fadeOut] {
    visibility: visible; }
