@charset 'UTF-8';


// 絕對定位 - 自訂
@mixin abPos( $posX:0 , $posY:0 ){
	position: absolute;
	left: $posX;
	top: $posY;
}

// 絕對定位 - 水平垂直置中
@mixin abPosCenter{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
//基本transition
@mixin transition ( $sec: 0.3s, $delay: 0s, $tFunction: ease-in-out){
	transition: all $sec $delay $tFunction;
}
//設定主要內容寬度
@mixin container{
	padding-left: $gutter;
	padding-right: $gutter;
	margin: 0 auto;
	width: 100%;
	$wideRange: min-width;
	@each $detect, $value in $detectDeviceSetting{
		@if $detect == xs or $detect == xxs {
			$wideRange: max-width;
		}
		@media screen and ($wideRange: map-get($value,detectWidth)) {
			width: map-get($value,width);
		}
	}
}
@mixin column{
	width: 100%;
	padding-left: $gutter;
	padding-right: $gutter;
	&.nogap {
		padding-left: 0;
		padding-right: 0;
	}
}
//設定浮動區塊
@mixin floatBox{
	&:after{
		content: '';
		width: 100%;
		display: table;
		clear: both;
	}
	#{$inBoxTag}{
		float: left;
	}
}
@mixin flexBox($align: left, $valign: top){
	display: flex;
	flex-wrap: wrap;
	@if $align ==  left{
		justify-content: flex-start;
	}
	@if $align ==  center{
		justify-content: center;
	}
	@if $align ==  right{
		justify-content: flex-end;
	}
	@if $align ==  space-between{
		justify-content: space-between;
	}
	@if $align ==  space-around{
		justify-content: space-around;
	}
	@if $valign ==  top{
		align-items: flex-start;
	}
	@if $valign ==  center{
		align-items: center;
	}
	@if $valign ==  bottom{
		align-items: flex-end;
	}
	@if $valign ==  stretch{
		align-items: stretch;
	}
	@if $valign ==  baseline{
		align-items: baseline;
	}
	
}


@mixin inBoxColumn($col: $column){
	&[class*="in_"]{
		#{$inBoxTag}{
			@include column;
			margin-bottom: $gutter*2;
		}
	}
	@for $i from 2 through $col{
		@if $i == 2{
			&.in_#{$i}c{
				#{$inBoxTag}{
					width: 100%;
					@media screen and (min-width: $device-sm){
						width: 1 / $i  * 100 + %;
					}
				}
			}

		} @else if $i == 3{
			&.in_#{$i}c{
				#{$inBoxTag}{
					width: 100%;
					@media screen and (min-width: $device-sm){
						width: 1 / $i  * 100 + %;
					}
				}
			}

		} @else if $i == 4{
			&.in_#{$i}c{
				#{$inBoxTag}{
					width: 100%;
					@media screen and (min-width: $device-sm){
						width: 50%;
					}
					@media screen and (min-width: $device-lg){
						width: 1 / $i  * 100 + %;
					}
				}
			}
			
		} @else if $i == 5{
			&.in_#{$i}c{
				#{$inBoxTag}{
					width: 100%;
					@media screen and (min-width: $device-sm){
						width: 50%;
					}
					@media screen and (min-width: $device-md){
						width: 33.33%;
					}
					@media screen and (min-width: $device-xl){
						width: 1 / $i  * 100 + %;
					}
				}
			}
			
		} @else if $i == 6{
			&.in_#{$i}c{
				#{$inBoxTag}{
					width: 100%;
					@media screen and (min-width: $device-sm){
						width: 50%;
					}
					@media screen and (min-width: $device-md){
						width: 33.33%;
					}
					@media screen and (min-width: $device-xl){
						width: 1 / $i  * 100 + %;
					}
				}
			}
		} @else {
			&.in_#{$i}c{
				#{$inBoxTag}{
					width: 100%;
					@media screen and (min-width: $device-sm){
						width: 50%;
					}
					@media screen and (min-width: $device-md){
						width: 33.33%;
					}
					@media screen and (min-width: $device-xl){
						width: 1 / $i  * 100 + %;
					}
				}
			}
		}
	}
}



